.open-new{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'/%3E%3C/svg%3E");
height: 22px;
width: 22px;   
line-height: 1;
display: inline-block;
background-size: contain; 
}
.phone-icon{
background-image: url("../images/phone.svg");
height: 2.1rem;
width: 2.1rem;   
line-height: 1;
display: inline-block;
background-size: cover;     
}
.email-icon{
background-image: url("../images/email.svg");
height: 2.1rem;
width: 2.1rem;   
line-height: 1;
display: inline-block;
background-size: cover;   
}
.icon-holder-footer i {
font-size: 2.2rem;    
}