*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
display: grid;    
grid: repeat(7,1fr) /  repeat(8,1fr);
grid-template-areas: 
"header header header header header header header header"
"header header header header header header header header"
" main main main main main main main main "
" main main main main main main main main "
" main main main main main main main main "
" footer footer footer footer footer footer footer footer "
" footer footer footer footer footer footer footer footer "
;
height: fit-content;
}
header{
grid-area: header;  
min-height: clamp(250px, 40vh, 650px);
background: linear-gradient(-5deg, white 30%, #1027f5 26%);
justify-content: center;
display: flex;
}
header h2{
margin-bottom: 3%;   
font-size: 3rem; 
}
header p{
font-size: 2rem;    
}
main{
grid-area: main;
min-height: clamp(250px, 60vh, 1000px);
padding-left: 10px;
}
main > section{
display: grid;
grid: 1fr 1fr / 1fr 1fr 1fr ;
row-gap: 10px;
column-gap: 20px;
padding: 20px 10px 60px 0px;
grid-template-areas: 
"one two three"
"four five six";    
height: 100%;
place-items: center;
}
footer{
grid-area: footer;
background-color: #1027f5;
min-height: clamp(250px, 40vh, 650px);
max-height: 700px;
display: flex;
padding: 5% 5%;
gap: 2%;
}
footer section {
display: flex;
flex-direction: column;
justify-content: start;
gap: clamp(10px, 2vh, 36px);
flex: 1 0 38%;
}
footer h2{
font-size: 3rem;    
}
footer p {
font-size: 2rem;    
}
i{
vertical-align: middle;   
}
.icon-holder{
display: flex;
justify-content: end;
gap: 0.5vw;
margin-top: 7%;
}
.icon-holder > i {
font-size: clamp(16px, 2vw ,24px) ;    
}

.one {
grid-area: one;    
}
.two{
grid-area: two;    
}
.card {
height: 90% ;
width: 60%;
box-shadow: 2px 2px 2px 0px #4f4d4d;
}
.background{
background-color: #1027f5;    
height: 70%;
}
.card-name{
display: flex;    
align-items: center;
padding: 2%;
}
.card-name h3{
margin-right: auto;
font-size: 23px;
margin-left: 3px;    
}
.card-name i {
margin: 2px;
font-size: 21px;    
}
.cardtext{
padding-left: 4%; 
padding-right: 1%;   
}
picture{
    width: 35%;
    height: 75%;
    align-self: center;
}
img{
width: 100%;
height: 100%;
object-fit: cover;   
object-position: bottom;
}
picture img {
display: block;    
}
header>div{
width: 45%;
height: 65%;
align-self: center;
background-color: white;
box-shadow: 2px 2px 2px 0px #4f4d4d;
padding: 2%;
}
header div p {
 font-size: 1.5rem;
 line-height: 1.4;  
}

i:hover{
cursor: pointer;    
}

.one .background{
background-color: #1027f5;      
}
.two .background{
background-color: #ef760c;      
}
.three .background{
background-color: #2bf510;      
}
.four .background{
background-color: #035414;      
}
.five .background{
background-color: #bcf510;      
}
.six .background{
background-color: #ef0ca3;      
}

.contact-us-picture{
flex: 1 0 58%;  
align-self: flex-start; 
width: 60%; 
height: 100%;
object-fit: cover;
object-position: 50px;
}
.contact-us-image{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center -300px;
}
.phone-holder{
display: flex;  
gap: 2%;
}
.email-holder{
display: flex;  
gap: 2%;    
}
.icon-holder-footer {
display: flex;    
justify-content: start;
gap: 5%;
}
@media (min-width: 768px) and (max-width: 1024px) {
header{
background: linear-gradient(-10deg, white 30%, #1027f5 25%);
}
    
main>section{
display: grid;
grid: 1fr 1fr 1fr / 1fr 1fr  ;
row-gap: 10px;
column-gap: 20px;
padding: 20px 10px 20px 10px;
margin-bottom: 10px;

grid-template-areas: 
"one two "
"three four" 
"five six";    
}    
}
@media screen {
    
}

