*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
color: white;    
}
.picture-tablet {
display: none;    
}
body{
display: grid;    
grid: repeat(7,1fr) /  repeat(8,1fr);
grid-template-areas: 
"header header header header header header header header"
"header header header header header header header header"
" main main main main main main main main "
" main main main main main main main main "
" main main main main main main main main "
" footer footer footer footer footer footer footer footer "
" footer footer footer footer footer footer footer footer "
;
height: fit-content;
}
header{
grid-area: header;  
min-height: clamp(250px, 40vh, 650px);
background: linear-gradient(-5deg, white 30%, #1027f5 26%);
justify-content: center;
display: flex;
position: relative;
}
header h2{
margin-bottom: 3%;   
font-size: 3rem; 
}
header p{
font-size: 2vw;
color: black;   
}
header h1{
position: absolute;   
left: 17%;
bottom: 15%; 
color: white;
font-size: clamp(1.5rem, 2vw + 1rem, 3.5rem);
}
main{
grid-area: main;
min-height: clamp(250px, 60vh, 1000px);
padding-left: 10px;
}
main > section{
display: grid;
grid: 1fr 1fr / 1fr 1fr 1fr ;
row-gap: 10px;
column-gap: 20px;
padding: 20px 10px 60px 0px;
grid-template-areas: 
"one two three"
"four five six";    
height: 100%;
place-items: center;
}
footer{
grid-area: footer;
background-color: #1027f5;
min-height: clamp(250px, 40vh, 650px);
max-height: 700px;
display: flex;
padding: 5% 5%;
gap: 2%;
}
footer section {
display: flex;
flex-direction: column;
justify-content: start;
gap: clamp(10px, 2vh, 36px);
flex: 1 0 38%;
}
footer h2{
font-size: calc(clamp(2.5rem,2vw + 1rem, 3.5rem) * 1.1);    
}
footer p {
font-size: calc(clamp(2.5rem, 2vw + 1rem, 3.5rem) / 2);
;    
}
i{
vertical-align: middle;   
}
.icon-holder{
display: flex;
justify-content: end;
gap: 0.5vw;
margin-top: 7%;
}
.icon-holder > i {
font-size: 24px;    
}

.one {
grid-area: one;    
}
.two{
grid-area: two;    
}
.card {
height: 90% ;
width: 60%;
box-shadow: 2px 2px 2px 0px #4f4d4d;
}
.background{
background-color: #1027f5;    
height: 70%;
}
.card-name{
display: flex;    
align-items: center;
padding: 2%;
}
.card-name h3{
margin-right: auto;
font-size: 23px;
margin-left: 3px;    
}
.card-name i {
margin: 2px;
font-size: 21px;    
}
.cardtext{
padding-left: 4%; 
padding-right: 1%; 
padding-bottom: 2%; 
margin-top: 2%;
color: black; 
font-size: 1.2rem;
}
picture{
    width: 35%;
    height: 75%;
    align-self: center;
}
img{
width: 100%;
height: 100%;
object-fit: cover;   
object-position: bottom;
}
picture img {
display: block;    
}
header>div{
width: 45%;
height: 65%;
align-self: center;
background-color: white;
box-shadow: 2px 2px 2px 0px #4f4d4d;
padding: 2%;
}
header div p {
 font-size: 1.3rem;
 line-height: 1.4;  
}

i:hover{
cursor: pointer;    
}

.one .background{
background-color: #1027f5;      
}
.two .background{
background-color: #ef760c;      
}
.three .background{
background-color: #2bf510;      
}
.four .background{
background-color: #035414;      
}
.five .background{
background-color: #bcf510;      
}
.six .background{
background-color: #ef0ca3;      
}

.contact-us-picture{
flex: 1 0 58%;  
align-self: flex-start; 
width: 60%; 
height: 100%;
object-fit: cover;
object-position: 50px;
}
.contact-us-image{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center clamp(-200px,-10% ,-300px);
}
.phone-holder{
display: flex;  
gap: 2%;
}
.email-holder{
display: flex;  
gap: 2%;    
}
.icon-holder-footer {
display: flex;    
justify-content: start;
gap: 5%;
}
@media (min-width: 768px) and (max-width: 1024px) {
.body{
display: flex;
flex-direction: column;    
}    
.picture-desktop{
display: none;    
}
.picture-tablet{
 display: block;
 float: left;
 width: 60%;
 height: 80%;
 padding-right: 5%;
 margin-top: -12%;
 margin-left: -12%;
}
header{
background: linear-gradient(-10deg, white 30%, #1027f5 25%);
display: grid;
grid-template: 
repeat(3, 1fr)/repeat(3, 1fr)
;
padding: 10%;
}
header > div{
grid-area: 1/1/4/4 ;
width: 100%;
height: 100%; 
position: relative;
}
header > div > h2{
grid-area: 1/1/2/2;    
display: flex;
justify-content: center;
}
.title{
display: flex;
position: absolute;   
top: -15%;
left: 25%; 
font-size: 3.5rem;
color: white;
}
.icon-holder{
 display: none;   
}
    
main>section{
display: grid;
grid: 1fr 1fr 1fr / 1fr 1fr  ;
row-gap: 10px;
column-gap: 20px;
padding: 20px 10px 20px 10px;
margin-bottom: 10px;

grid-template-areas: 
"one two "
"three four" 
"five six";    
}   
.contact-us-image{
object-position: center -96px;
}

}
@media (max-width: 767px) {
body{
display: flex;
flex-direction: column;    
}
header{
display: flex;
flex-direction: column;   
padding: 5% 3%;
/* min-height: clamp(400px, 80vh, 650px) ; */
background: linear-gradient(-20deg, white 58%, #1027f5 26%);
}
header > .picture-desktop{
display: block;
width: 100%;
height: 50%;
}
header > div {
width: 100%;  
box-shadow: none; 
display: flex;
justify-content: center;
flex-direction: column; 
background-color: rgba(255, 255, 255, 0);

}
header  h1 {
position: unset;
margin-top: -20%;
font-size: 3.1rem;
left: none;
bottom: none;
margin-bottom: 5%;
}
header h2 {
font-size: 2rem;    
align-self: center;
}
.icon-holder {
justify-content: center; 
gap: 4%;   
}

main{
min-height: fit-content;    
}

main > section{
display: flex;
flex-direction: column;    
}  
.card {
width: 80%;    
}  
.background {
height: 50vh;    
}

footer{
flex-direction: column; 
flex: unset;   
padding: unset;
}
footer section {
padding: 5%;
padding-bottom: 25%;    
}
footer h2 {
 align-self: center; 
 color: white;  
}
.contact-us-picture{
width: 100%; 

}
.contact-us-image {
object-position: unset;    
}
}
